extend /layout

block main-content-content
  section
    h1 Projects
    .software-content
      section.project
        h1 Koa Template

        figure.feature-image
          img(src="http://via.placeholder.com/458x258")

        .details
          p
            | This is a full, working template for a Node.js&#32;
            a(href='http://koajs.com/') Koa 2
            |  website. It starts as a runnable sample site that you can start
            | with and build your own on top of.

          ul
            li
              a(href='http://koa-template.jmcclare.com') live demo
            li
              a(href='https://github.com/jmcclare/koa-template') source code

      section.project
        h1 investment-calc

        figure.feature-image
          img(src="http://via.placeholder.com/458x258")

        .details
          p.
            A React app that simulates investment growth and returns time. It’s
            a simplified way to see how an investment plan will pan out over
            time.

          ul
            li
              a(href=router.url('software-icalc')) see it live
            li
              a(href='https://github.com/jmcclare/investment-calc') source code

          p
            | The app is a site module that works in my Node.js&#32;
            a(href='https://github.com/jmcclare/koa-template') Koa 2 site template
            | . It runs in the browser using React. On the back end, my Koa
            | template compiles the styles and the JSX, and serves the page.

      section.project
        h1 sakuramai.ca

        figure.feature-image
          img(src="http://via.placeholder.com/458x258")

        .details
          p.
            The home page for my dance group.

          ul
            li
              | Built with my&#32;
              a(href='https://github.com/jmcclare/node-express-template').
                Node.js Express site template
            li Mobile optimized
            li Designed by me
            li
              a(href='http://sakuramai.ca') See it live

      section.project
        h1 jm-shell

        figure.feature-image
          img(src="http://via.placeholder.com/458x258")

        .details
          p.
            My highly informative, customized Bash shell.

          p.
            It makes it easy to separate your commands from the output when you
            scroll back and gives you lots of useful information on the last
            command and the current environment.

          p
            | Too many features to list here. See the&#32;
            a(href='https://github.com/jmcclare/jm-shell') project page
            |.

block main-aside-content
  section
    h1 Follow / Contact Me
    ul
      li
        a(href='https://github.com/jmcclare') Github
      li
        a(href='https://mastodon.social/@jmdev') Mastodon
      li
        a(href='https://twitter.com/jmdev') Twitter
      li
        a(href='https://www.linkedin.com/in/jonathan-mcclare-3490702/') LinkedIn


block footer-content
  section.copyright
    - var currentDate = new Date()
    - var currentYear = currentDate.getUTCFullYear()
    p &copy; Jonathan MᶜClare #{currentYear}
