.vars-form
  width 27em
  overflow auto
  //float right
  //margin-left 2em
  .field-area
    margin 1em 0
    .input-line
      clearfix()
      label
        font-weight bold
      input
        //margin-left 2em
        float right
        margin-top -0.5em
    .error
      color red
      text-align right
      margin-top 0.1em
      font-size 90%
.financial-results, .financial-results table, thead, tbody, tfoot, tr
  width 100%
.financial-results
  tr:nth-child(even)
    background-color #eee
  //td
    //border 2px solid #ccc
  .passiveGrowth, .spent, .total, .iPassiveGrowth, .iTotal
    text-align right
