@import './ground-floor'

@import './investment-calc'

//
// Site Styles
//
// Your site’s unique styles go in here. The framework gives you kouto-swiss,
// the Jeet grid layout system, a few helper functions and some default styles.
//
// You can change the Jeet and framework settings in settings.styl.
//

// Uncomment this to highlight all block elements and help you see the layout
// and nesting.
//debug()


//
// Fonts and Colors
//

on-dark-link-color = white
on-dark-link-hover-color = #ccc

body
  color #4a4a4a
  background-color #ffffff

h1, h2, h3, h4, h5, h6
  color black
  margin modular-scale(-1) 0 modular-scale(-3) 0

blockquote
  color #666

#top-bar, header, #main-aside, #bottom-bar
  color white
  background black

#top-bar, #main-header, #main-aside, #bottom-bar
  *
    //color #eee
    //color #444
    color white
  a
    color on-dark-link-color
    text-decoration none
    font-weight bold
    &:hover
      color on-dark-link-hover-color

#body-main
  background white
  main
  header
    //padding-bottom .4em
    //border-bottom 1px solid #ddd
    h1
      padding-bottom 0
      //border-bottom none
  //h1, h2, h3, h4, h5, h6
    //padding-bottom .4em
    //border-bottom 1px solid #ddd

#main-header
  h1
    font-size 5em

.social-media, #main-aside .social-media
  overflow hidden
  .icons
    text-align: justify
    font-size modular-scale(6)
    margin .1em 0
    a *
      color on-dark-link-color
      &:hover
        color on-dark-link-hover-color

#bottom-bar
  .copyright
    *
      color #ccc


//
// Page Layout
//

//.regular-width, #body-main, #top-bar nav, #bottom-bar footer
.regular-width, #main-header-content, #main-content, #main-aside-content, #top-bar nav, #bottom-bar footer
  center()
  padding-left: $jeet.gutter + '%'
  padding-right: $jeet.gutter + '%'

#top-bar
  nav

#body-main
  //margin-top .5em
  main
    clearfix()

#main-header
  overflow auto
  margin-top 0
  padding-bottom 4em

#main-content
  margin-top 3em

#body-main #main-aside
  overflow auto
  margin-top 2em
  padding-top 2em

#bottom-bar footer
  padding-top .25em
  padding-bottom .25em
  margin-top 1.5em


//
// Specific page styles
//


// Home Page

body.home
  #body-main
    background black
    #main-header
      padding-bottom 0
    #main-aside
      //margin-top 0


// Software Development

.software-content
  .project
    //clearfix()
    column(1/2, $cycle: 2)
    .feature-image, .details
      column(1/2)
    .feature-image
      margin-top .5em
      margin-bottom .5em
      img
        width 100%
        box-shadow 0px 2px 10px grey
        border-radius 10px
    .details
      //padding 1em 0


//
// Size Adaptations
//


// Between medium and large
@media only screen and (max-width: screen-medium + round((screen-large - screen-medium) / 2))
  body, p, li, dd, dt
    //font-size ms(0) - round(ms(0) / 10)
    //font-size .9em

  .software-content
    .project
      stack()


// medium width layout
@media (max-width: screen-medium)
  .regular-width, .centred, main, aside
    max-width medium-width

  main, #main-aside
    stack()
    unmove()

  #main-aside
    margin-top 0


/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
@media only screen and (max-width: screen-small + round((screen-medium - screen-small) / 2))
  body, p, li, dd, dt
    //font-size ms(0) - round(ms(0) / 10)
    //font-size .8em

  .regular-width, #top-bar nav, #bottom-bar footer
    padding-left 0
    padding-right 0

  #main-header
    h1
      font-size 3.5em
    .subheading
      font-size modular-scale(0)

  .software-content
    .project
      .feature-image, .details
        stack()


// mobile width layout
@media only screen and (max-width: screen-small)
  #main-header
    h1
      font-size 2.5em
    .subheading
      font-size modular-scale(-1)


/* Medium size / tablet display targeting */
//@media only screen and (min-width: screen-small + round((screen-medium - screen-small) / 2) + 1) and (max-width: screen-medium + round((screen-large - screen-medium) / 2))


/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
//@media only screen and (max-width: screen-small + round((screen-medium - screen-small) / 2))
