@import './ground-floor'

@import './investment-calc'

//
// Site Styles
//
// Your site’s unique styles go in here. The framework gives you kouto-swiss,
// the Jeet grid layout system, a few helper functions and some default styles.
//
// You can change the Jeet and framework settings in settings.styl.
//

// Uncomment this to highlight all block elements and help you see the layout
// and nesting.
//debug()


//
// Fonts and Colors
//

//body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl
  //font-family 'Inconsolata', monospace, serif

body
  color #4a4a4a
  background-color #ffffff

  // gradient background
  //background-image url('/_img/background-gradient.png')
  //background-size 100%
  //background-repeat repeat-y

h1, h2, h3, h4, h5, h6
  color black
  margin modular-scale(-1) 0 modular-scale(-3) 0

//h1, h2, h3, h4, h5, h6, strong
  //color #f8ce63

//a
  //color #cb9d3c

blockquote
  color #666

#top-bar, header, #main-aside, #bottom-bar
  color white
  background black

#top-bar, #main-header, #main-aside, #bottom-bar
  *
    //color #eee
    //color #444
    color white
  a
    color white
    text-decoration none
    font-weight bold
    &:hover
      color #ccc

// Red top and bottom bar, drop shadows
//#top-bar nav, #body-main, #bottom-bar footer
    //background-color #c02
    //box-shadow 0px 2px 10px grey

#body-main
  background white
  main
  header
    //padding-bottom .4em
    //border-bottom 1px solid #ddd
    h1
      padding-bottom 0
      //border-bottom none
  //h1, h2, h3, h4, h5, h6
    //padding-bottom .4em
    //border-bottom 1px solid #ddd

#main-header
  h1
    font-size 5em

#bottom-bar
  .copyright
    *
      color #ccc


//
// Page Layout
//

//.regular-width, #body-main, #top-bar nav, #bottom-bar footer
.regular-width, #main-header-content, #main-content, #main-aside-content, #top-bar nav, #bottom-bar footer
  center()
  padding-left: $jeet.gutter + '%'
  padding-right: $jeet.gutter + '%'

#top-bar
  nav

#main-header
  overflow auto
  margin-top 0
  padding-bottom 4em

#body-main
  //margin-top .5em
  main
    clearfix()

#body-main #main-aside
  overflow auto
  margin-top 2em
  padding-top 2em

#bottom-bar footer
  padding-top .25em
  padding-bottom .25em
  margin-top 1.5em


//
// Specific page styles
//


// Software Development

.software-content
  .project
    //clearfix()
    column(1/2, $cycle: 2)
    .feature-image, .details
      column(1/2)
    .feature-image
      margin-top .5em
      margin-bottom .5em
      img
        width 100%
        box-shadow 0px 2px 10px grey
    .details
      //padding 1em 0



//
// Size Adaptations
//


// medium width layout
@media (max-width: screen-medium)
  .regular-width, .centred, main, aside
    max-width medium-width

  main, #main-aside
    stack()
    unmove()

  #main-aside
    margin-top 0


/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
@media only screen and (max-width: screen-small + round((screen-medium - screen-small) / 2))
  .regular-width, #top-bar nav, #bottom-bar footer
    padding-left 0
    padding-right 0


// mobile width layout
@media (max-width: screen-small)
  .priced-item
    stack()


/* Medium size / tablet display targeting */
//@media only screen and (min-width: screen-small + round((screen-medium - screen-small) / 2) + 1) and (max-width: screen-medium + round((screen-large - screen-medium) / 2))


/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
//@media only screen and (max-width: screen-small + round((screen-medium - screen-small) / 2))
